/* Outer Grid Styling */
.sudoku-grid {
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.inner-cell {
    -fx-border-color: lightgrey;
    -fx-border-width: 1px;
}

/* Inner Grid Styling */
.top-row {
    -fx-border-width: 1px 1px 2px 1px;
    -fx-border-color: lightgrey lightgrey darkgrey lightgrey;
}

.bottom-row {
    -fx-border-width: 2px 1px 1px 1px;
    -fx-border-color: darkgrey lightgrey lightgrey lightgrey;

}

.left-col {
    -fx-border-width: 1px 2px 1px 1px;
    -fx-border-color: lightgrey darkgrey lightgrey lightgrey;
}

.right-col {
    -fx-border-width: 1px 1px 1px 2px;
    -fx-border-color: lightgrey lightgrey lightgrey darkgrey;
}

/* Combine top-row and left-col for top-left cell */
.top-row.left-col {
    -fx-border-width: 1px 2px 2px 1px;
    -fx-border-color: lightgrey darkgrey darkgrey lightgrey;
}

/* Combine top-row and right-col for top-right cell */
.top-row.right-col {
    -fx-border-width: 1px 1px 2px 2px;
    -fx-border-color: lightgrey lightgrey darkgrey darkgrey;
}

/* Combine bottom-row and left-col for bottom-left cell */
.bottom-row.left-col {
    -fx-border-width: 2px 2px 1px 1px;
    -fx-border-color: darkgrey darkgrey lightgrey lightgrey;
}

/* Combine bottom-row and right-col for bottom-right cell */
.bottom-row.right-col {
    -fx-border-width: 2px 1px 1px 2px;
    -fx-border-color: darkgrey lightgrey lightgrey darkgrey;
}

/* Highlighting for selected cell */
.text-field:focused {
    -fx-background-color: rgba(255, 213, 128, 0.4);;
}

/* Custom sudoku cell styling for candidates and values */
.sudoku-cell {
    -fx-background-color: white;
}

.value-field {
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: #000;
}

.hint-cell {
    -fx-background-color: #fff3cd;
}

.candidate {
    -fx-font-size: 10px;
    -fx-text-fill: #333;
    -fx-alignment: center;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.correct-cell{
    -fx-background-color: #c8f7c5;
}

.incorrect-cell {
    -fx-background-color: #f8d7da;
}

.value-field:disabled {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000;
    -fx-opacity: 0.85;
}

.disabled-cell {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000;
    -fx-opacity: 0.85;
}

.value-field.correct-cell:disabled {
    -fx-background-color: #c8f7c5;
    -fx-text-fill: #000;
    -fx-opacity: 0.85;
}
